<!DOCTYPE html>
<html>
<head>
  <title>Twiboo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>



<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    Action
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <!-- dropdown menu links -->
    
    <li>
      <a href="#">Option 1</a>
    </li>
    <li>
      <a href="#">Option 2</a>
    </li>
    <li>
      <a href="#">Option 3</a>
    </li>
  </ul>
</div>




<%= yield %>

</body>
</html>
